/Debug/
windtel_app/WindTel-win32-x64/locales/pt-PT.pak
windtel_app/WindTel-win32-x64/LICENSE
windtel_app/WindTel-win32-x64/LICENSES.chromium.html
windtel_app/WindTel-win32-x64/VkICD_mock_icd.dll
windtel_app/WindTel-win32-x64/VkLayer_core_validation.dll
windtel_app/WindTel-win32-x64/VkLayer_object_tracker.dll
windtel_app/WindTel-win32-x64/VkLayer_parameter_validation.dll
windtel_app/WindTel-win32-x64/VkLayer_threading.dll
windtel_app/WindTel-win32-x64/VkLayer_unique_objects.dll
windtel_app/WindTel-win32-x64/WindTel.exe
windtel_app/WindTel-win32-x64/chrome_100_percent.pak
windtel_app/WindTel-win32-x64/chrome_200_percent.pak
windtel_app/WindTel-win32-x64/d3dcompiler_47.dll
windtel_app/WindTel-win32-x64/ffmpeg.dll
windtel_app/WindTel-win32-x64/icudtl.dat
windtel_app/WindTel-win32-x64/libEGL.dll
windtel_app/WindTel-win32-x64/libGLESv2.dll
windtel_app/WindTel-win32-x64/natives_blob.bin
windtel_app/WindTel-win32-x64/osmesa.dll
windtel_app/WindTel-win32-x64/resources.pak
windtel_app/WindTel-win32-x64/snapshot_blob.bin
windtel_app/WindTel-win32-x64/v8_context_snapshot.bin
windtel_app/WindTel-win32-x64/version
windtel_app/WindTel-win32-x64/locales/am.pak
windtel_app/WindTel-win32-x64/locales/ar.pak
windtel_app/WindTel-win32-x64/locales/bg.pak
windtel_app/WindTel-win32-x64/locales/bn.pak
windtel_app/WindTel-win32-x64/locales/ca.pak
windtel_app/WindTel-win32-x64/locales/cs.pak
windtel_app/WindTel-win32-x64/locales/da.pak
windtel_app/WindTel-win32-x64/locales/de.pak
windtel_app/WindTel-win32-x64/locales/el.pak
windtel_app/WindTel-win32-x64/locales/en-GB.pak
windtel_app/WindTel-win32-x64/locales/en-US.pak
windtel_app/WindTel-win32-x64/locales/es.pak
windtel_app/WindTel-win32-x64/locales/es-419.pak
windtel_app/WindTel-win32-x64/locales/et.pak
windtel_app/WindTel-win32-x64/locales/fa.pak
windtel_app/WindTel-win32-x64/locales/fi.pak
windtel_app/WindTel-win32-x64/locales/fil.pak
windtel_app/WindTel-win32-x64/locales/fr.pak
windtel_app/WindTel-win32-x64/locales/gu.pak
windtel_app/WindTel-win32-x64/locales/he.pak
windtel_app/WindTel-win32-x64/locales/hi.pak
windtel_app/WindTel-win32-x64/locales/hr.pak
windtel_app/WindTel-win32-x64/locales/hu.pak
windtel_app/WindTel-win32-x64/locales/id.pak
windtel_app/WindTel-win32-x64/locales/it.pak
windtel_app/WindTel-win32-x64/locales/ja.pak
windtel_app/WindTel-win32-x64/locales/kn.pak
windtel_app/WindTel-win32-x64/locales/ko.pak
windtel_app/WindTel-win32-x64/locales/lt.pak
windtel_app/WindTel-win32-x64/locales/lv.pak
windtel_app/WindTel-win32-x64/locales/ml.pak
windtel_app/WindTel-win32-x64/locales/mr.pak
windtel_app/WindTel-win32-x64/locales/ms.pak
windtel_app/WindTel-win32-x64/locales/nb.pak
windtel_app/WindTel-win32-x64/locales/nl.pak
windtel_app/WindTel-win32-x64/locales/pl.pak
windtel_app/WindTel-win32-x64/locales/pt-BR.pak
windtel_app/WindTel-win32-x64/locales/ro.pak
windtel_app/WindTel-win32-x64/locales/ru.pak
windtel_app/WindTel-win32-x64/locales/sk.pak
windtel_app/WindTel-win32-x64/locales/sl.pak
windtel_app/WindTel-win32-x64/locales/sr.pak
windtel_app/WindTel-win32-x64/locales/sv.pak
windtel_app/WindTel-win32-x64/locales/sw.pak
windtel_app/WindTel-win32-x64/locales/ta.pak
windtel_app/WindTel-win32-x64/locales/te.pak
windtel_app/WindTel-win32-x64/locales/th.pak
windtel_app/WindTel-win32-x64/locales/tr.pak
windtel_app/WindTel-win32-x64/locales/uk.pak
windtel_app/WindTel-win32-x64/locales/vi.pak
windtel_app/WindTel-win32-x64/locales/zh-CN.pak
windtel_app/WindTel-win32-x64/locales/zh-TW.pak
windtel_app/WindTel-win32-x64/resources/electron.asar
windtel_app/WindTel-win32-x64/swiftshader/libEGL.dll
windtel_app/WindTel-win32-x64/swiftshader/libGLESv2.dll
