<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/windtel_logo.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;"></ion-img>
        <ion-card-header>
          <ion-card-title>Welcome to WindTel!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Login to your account, or click <a routerLink="/">here</a> to sign up if you don't have one!</p>
          <form (ngSubmit)="tryLogin()" #login="ngForm">
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" autofocus="true" 
                         placeholder="misael.valentin@upr.edu"
                         [(ngModel)]="model.email" name="email" required>
              </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" minlength="8"
                         [(ngModel)]="model.password" name="password" required>
              </ion-input>
          </ion-item>
          <ion-button type="submit" [disabled]="!login.form.valid" routerLink="/">Login</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
</ion-content>
