<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="assets/windtel_logo.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;"></ion-img>
        <ion-card-header>
          <ion-card-title>Welcome to WindTel!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{getCurrentUser()}}
          <ion-item>
            <ion-chip color="primary">
              <ion-label>{{currentUser.permissions}}</ion-label>
            </ion-chip>
            {{currentUser.first}}
          </ion-item>
          <ion-item>
            <ion-button routerLink="/">Logout</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Get started</ion-label>
      </ion-list-header>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>User Guide</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label> Settings</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="help"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
