<ion-header>
    <ion-toolbar>
      <ion-title>
        Sign Up
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding="true" class="has-header">
    <div>
      <img src="assets/windtel_logo.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Sign up for an account</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <form (ngSubmit)="tryRegister()" #signup="ngForm">
                <ion-item>
                    <div *ngIf="taken">An account already exists for this email.</div>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" autofocus="true" 
                               placeholder="misael.valentin@upr.edu"
                               [(ngModel)]="email" name="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input title="8 characters minimum" type="password" minlength="8"
                               [(ngModel)]="password" name="password" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">First Name</ion-label>
                    <ion-input placeholder="Misael"
                               [(ngModel)]="firstName" name="first" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Last Name</ion-label>
                    <ion-input placeholder="Valentin"
                               [(ngModel)]="lastName" name="last" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Vocation</ion-label>
                  <ion-input placeholder="Professor"
                             [(ngModel)]="vocation" name="vocation" required>
                  </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Department</ion-label>
                    <ion-input placeholder="INCI"
                           [(ngModel)]="department" name="department" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Institution</ion-label>
                  <ion-input placeholder="UPRM"
                         [(ngModel)]="institution" name="institution" required>
                  </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">City</ion-label>
                <ion-input placeholder="Aguadilla"
                       [(ngModel)]="city" name="city">
                </ion-input>
            </ion-item>
                <ion-button type="submit" [disabled]="!signup.form.valid">Sign Up</ion-button>
                <ion-button (click)="navigate('/')">Back</ion-button>
            </form>
        </ion-card-content>
      </ion-card>
  </ion-content>
  