<ion-header>
    <ion-toolbar>
      <ion-title>
        Sign Up
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding="true" class="has-header">
    <div>
      <img src="assets/windtel_logo.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-card>
        <ion-card-header>
          <ion-card-title>User Sign Up</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <form (ngSubmit)="tryRegister()" #login="ngForm">
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" autofocus="true" 
                               placeholder="misael.valentin@upr.edu"
                               [(ngModel)]="model.email" name="email" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" minlength="8"
                               [(ngModel)]="model.password" name="password" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">First Name</ion-label>
                    <ion-input placeholder="Misael"
                               [(ngModel)]="model.first" name="first" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Last Name</ion-label>
                    <ion-input placeholder="Valentin"
                               [(ngModel)]="model.last" name="last" required>
                    </ion-input>
                </ion-item>
                <ion-button type="submit" [disabled]="!login.form.valid" routerLink="../tabs">Sign Up</ion-button>
            </form>
        </ion-card-content>
      </ion-card>
  </ion-content>
  
